<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftHelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A00BC311C9C047E00F5EA85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A00BC451C9C047E00F5EA85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A00BC501C9C047F00F5EA85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
